*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 13vh;
    background-color: bisque;
    display: flex;
    position: relative;
    .logo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 50%;
            height: 50%;
            object-fit: cover;
        }
    }
    ul{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .icon{
        display: none;
        position: absolute;
        right: 10px;
        top: 20px;
    }
}


@media (max-width:800px) {
    .myUl{
        display: none !important;
    }
    .icon{
        display: block !important;
    }
}

section{
    width: 100%;
    height: 30vh;
    .box{
        width: 100%;
        height: 100%;
    }
}